@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #28282B;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

nav {
    text-align: center;
}

ul {
    padding: 0;
}

h1, h2, p {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Inter', sans-serif;
    padding: 0 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.nav-item {
    display: inline;
}

.link {
    color: #FFD700;
}

.link:hover {
    color: #FF5900;
}

.project-link {
    text-align: center;
}
