@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk&display=swap');

body {
    background-color: #28282B;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

nav {
    text-align: center;
}

ul {
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
}

p, label {
    color: white;
    padding-top: 20px;
    text-align: center;
}

section[id="projects"] p {
    padding-left: 20px;
    padding-right: 20px;
}

form {
    text-align: center;
}

input, textarea {
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    border: none;
    margin-left: 20px;
}

textarea {
    height: 100px;
}

button {
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}

button:hover {
    background-color: #ff5900;
    cursor: pointer;
}

.nav-item {
    display: inline;
    padding: 0 20px;
}

.link {
    color: #FFD700;
    text-decoration: none;
}

.link:hover {
    color: #ff5900;
}

.project-img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.project-link {
    text-align: center;
}

.form-input {
    padding: 20px;
}

.button-text {
    color: #28282B;
    font-family: Inter, sans-serif;
    padding: 0;
}

.footer-text {
    padding-bottom: 20px;
}

#headshot {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
